:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #1b1b1b;
    --color-primary-light: #222126;
    --color-primary: #292731;
    --color-primary-dark: #302d3c;
    --color-primary-darker: #373347;
    --color-secundary: #e4c28a;
    --color-secundary-dark: #c5a971;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #e4c28a;
    --color-text-title: #AFB3B2;
    --color-text-complement: #b6b9bd;
    --color-text-base: #bdbfc8;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    font-size: 60%;
}

body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/background.png');
    background-size: 100% 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 'logo' 'streamers' 'produtos' 'redessociais';
    color: #e4c28a;
}

.logo {
    grid-area: logo;
    width: 100%;
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-image {
    border: none;
    width: 308px;
    height: 100px;
    margin-bottom: 50px;
}

.streamers {
    grid-area: streamers;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtos {
    grid-area: produtos;
    grid-row-start: initial;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 308px;
    height: 69px;
    border-radius: 0.8rem;
    font: 700 30px Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #1b1b1b;
    transition: background-color 0.2s;
}

.btn-background {
    background: #e4c28a;
}

.btn-background:hover {
    background: #c5a971;
}

.redessociais {
    grid-area: redessociais;
    grid-row-start: initial;
    width: 100%;
    height: 119px;
    display: grid;
    grid-template-areas: 'facebook instagram twitter ' 'twitch youtube discord';
}

.icon {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 90px;
    color: #e4c28a;
}

.facebook {
    
    grid-area: facebook;
}

.instagram {
    grid-area: instagram;
}

.twitter {
    grid-area: twitter;
}

.youtube {
    grid-area: youtube;
}

.twitch {
    grid-area: twitch;
}

.discord {
    grid-area: discord;
}

.fab {
    margin-right: 10px;
}

.fas {
    margin-right: 10px;
}